* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 35px;
  border-bottom: 1px solid #ddd;
  z-index: 10;

}


.nav-links a {
  color:black;
  text-decoration: none;
  margin-left: 16px;
  padding: 8px 12px;
  transition:  0.3s;
}

.nav-links{
  margin-right: 80px;
}
.be{
  margin-left: 80px;
}

.nav-links a:hover {
  background: white;
}
#apps{
    background: #009DFF;
    color: white;
    padding: 12px 26px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    
}
#apps:hover{
  border: 1px solid transparent;
  background-color: white;
  color: #009DFF;
    
}
.header {
  margin-top: 60px;
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.bk{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: fixed;
}
.cols i{
  margin-right: 10px;
    color: #5DB2FF;
    font-weight: 16px;
}

.content {

  position: absolute;
  top: 50%;
  bottom: 50%;
  margin: 30px;
  color: black;
  font-size: 35px;
  letter-spacing: 3px
}
.content p{
  font-size: 18px;
    font-weight: 400;
    color: #727272;
    margin-bottom: 40px;
    margin-top: 10px;
}
.content a{
    color: #fff;
    background-color: #009DFF;
    padding: 18px 35px;
    font-size: 15px;
    font-weight: 500px;
    border-radius: 10px;
     text-decoration: none;
}
.content a:hover{
  background-color: white;
  color: rgb(101, 156, 192);
  
}
.btn{
    display: inline-block;
    padding: 18px 44px;
    font-weight: 10px;
}
.area{
  display: flex;
  justify-content: space-between;
  color: white;

}
.icon{
    font-size: 50px;
    color: #fff;
}

.white{
   text-decoration: none;
    border: 1px solid #fff;
   border-radius: 5px;
   padding: 5px;
   color: white;
   
}
.white:hover{
  background-color: #eee;
  color: #5DB2FF;
} 

.area{
  background-color: #83C4FF;
}
.single{
          padding: 40px 20px;
}
.single p{
  margin-bottom: 15px;
}
.l{
  background-color: #5DB2FF;;
}

.container{
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto

  
}
.thumb_1{
  width: 50px;
  margin: 20px;
  padding-top: 80px;
  position: relative;
}
.thumb_2{
    box-sizing: border-box;
    position: absolute;
    top:1300px;
    padding-right:70px ;
    margin-left: 290px;
    margin-top: 250px;

    }
    
.info{
    text-align: right;
    font-style: normal;
    position: absolute;
    margin-top: -350px;
    margin-left: 750px;
    text-align: justify;
}
.info h2{

   font-size: 18px;
    font-weight: 400;
    color: #1F1F1F;
    margin-bottom: 40px;
    position: relative;
    z-index: 9;
    padding-bottom: 9px;
}    
    
.info h3{
      font-weight: 500;
    font-size: 36px;
    margin-bottom: 10px;
}
.welcome{
  padding-bottom: 80px;
}
.cols ul{
  color: #727272;
  margin-bottom: 35px;
}
.cols a{
  padding: 8px;
  text-decoration: none;
  border: 1px solid rgb(111, 172, 212);
  border-radius: 3px;
  color: #5DB2FF;
}
.cols a:hover{
  background-color:#5DB2FF;
  color: white;
} 
.cols p{
      font-size: 16px;
    color: #727272;
    line-height: 28px;
    border-radius: 5px;
    margin-bottom: 30px;

}
.ludo{
  padding: 15px;
}
.ludo h3:hover{
color: #009DFF;
}
.sun{
  display: flex;
}
.div{
  padding: 100px;
  margin-top: 200px;
  padding-bottom:100px;
  background-color: #F5FBFF;
}
.war{
  text-align: ;
}
.or{
  font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    color: #1F1F1F;
    text-align: center;
    z-index: 9;
    padding-bottom: 15px;
}
.cr{
  text-align: center;
  font-size: 16px;
  color: #727272;
  line-height: 28px;
  margin-bottom: 40px;
  font-weight: 400px;
}
.put{
  top: 300px;
}  
.edit{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;

}
#good{
    font-size: 16px;
    line-height: 28px;
    color: #727272;
    margin-top: 5px;
    margin-bottom: 5px;
  
}
.war{
   
   background-color: white;
   margin-bottom: 30px;
}
.war a{
  color: rgb(0, 119, 255);
  text-decoration: none;
  margin-bottom: 10px;
}
.war a:hover{
  text-decoration: underline;
  color: #009DFF;
}


.learn_more{
  text-decoration: none;
}

.say{
  width: 1350px;
  height: 450px;
   margin-top: -50px;
  position: absolute;

}
.quote{
  padding: 30px;
  font-size: 30px;
  color:white;
  
}
.no{
  position: relative;
   color: #fff;
   text-align: center;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 47px;
    
}
.css{
  padding: 50px;
}
.event{
  padding-top: 40px;
  background-color:white;
}
.run{
  color: #141212;
  margin: 50px;
 padding: 30px;
  font-size: 20px;
  margin-left: 150px;
  max-width: 700px;
}
.event a:hover{
  background-color: #aedce4;
} 

.more{
  display: flex;
  padding: 70px;
  align-items: center;

}
.take h3{
      font-size: 20px;
    font-weight: 500;
    color: #1F1F1F;
    margin-top: 16px;
    margin-bottom: 14px;
}
.take p{
  font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #4D4D4D;
    margin-bottom: 13px;
    font-family: "Poppins", sans-serif
}
.take{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
.take i{
background: #5DB2FF;
    width: 75px;
    height: 75px;
    display: inline-block;
    color: #fff;
    font-size: 35px;
    text-align: center;
    line-height: 75px;
    border-radius: 50%
}
hr{
      border-bottom: 1px solid #aa2e2e;
    padding-bottom: 60px;
    padding-top: 60px;
}

.str{
  font-weight: 500px;
  margin-left: 100px;
}
.partly{
  padding-bottom: 80px;
}
.tree{
  padding: 70px;
  display: flex;
  justify-content: space-between;
}
.tree :hover{
background-color: #5DB2FF;
color: white;
}
.net span{
  color: #727272;
}
.net{
  text-align: center;
  background: #F5FBFF;
  padding-bottom: 20px

}

.hole{
  display: flex;
}
.date{
  width: 750px;
 
}
.month{
  position: absolute;
  margin-left: 50px;
    padding: 50px 0;
    background-size: cover;
    background-position: center;
}
.month h3{
  align-items: center;
  font-size: 26px;
    font-weight: 500;
    color: #fff
}
.month p{
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px;
}
.month a{
   text-decoration: none;
   color: #fff;
    display: inline-block;
    padding: 9px 24px;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid #fff;
    border-radius: 20px;
  
  
}
.month a:hover {
  background: white;
  color:#5DB2FF;
}
.cate{
  width: 590px;
  position: absolute;
  margin-left: 750px;
  height: 195px;
}
.yr{
  margin-left: 50px;
  
}
.yr h3{
  margin-top: 40px;
  position: relative;
  color: #fff
   
}
.yr p{
  position: relative;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-right: 50px;
    margin-bottom: 20px;
}
.yr a{
  position: relative;
  color: white;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 9px 24px;
   text-decoration: none;
}
.yr a:hover{   
   color: #5DB2FF;
   background-color: white;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 20px;
    
  
}

.footer{
  padding-top: 145px;
    padding-bottom: 129px;
    background: #1F1F1F;
}
.footertop{
  display: flex;
  
}
.tops{
  margin-left: 50px;

  
}
.tops p{
   margin-top: 40px;
   padding-right: 5px;
    padding-left: 5px;
    color: #C7C7C7;
}
.socail_links{
  margin-top: 50px;
}
.socail_links li{
  font-size: 18px;
    color: #C3B2F0;
    line-height: 42px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.socail_links i{
    font-size: 16px;
    color: #BABABA;
    line-height: 42px;
}
.socail_links a{
width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    background: #707070;
    border-radius: 4px;
  
}
.big{
  box-sizing: border-box;
  padding: 30px;
}
.big h3{
  font-size: 25px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 40px;
}
.big a{
  font-size: 16px;
    color: #BABABA;
    line-height: 42px;
    text-decoration: none;
}
.hard{
  padding: 30px;
}
.hard h2{
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
}
.hard a{
   text-decoration: none;
   font-size: 16px;
    color: #BABABA;
    line-height: 42px;
}
.shift{
  padding: 30px;
}
.shift h2{
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 40px;
    margin-right: 10px;
}
.shift p{
  font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color:#C7C7C7;
    margin-bottom: 13px;
    font-family: "Poppins", sans-serif;
}
.tops img{
  color: white;
}
.ff{
  padding-top: 100px;
    padding-bottom: 129px;
    background: #1F1F1F
}
.mi{

    background: #000000;
    text-align: center;
  
}
.mi p{
  color: #919191;
    font-weight: 400;
    padding: 20px;

}
.mi a{
  color: #5DB2FF;
}

.west{
 position: relative;
  animation-name: myAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes myAnimation {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  { left:200px; top:200px;}
  75%  {left:0px; top:200px;}
  100% {left:0px; top:0px;}
}



